<div class="banner-color">
	<div class="banner">
			<%= image_tag("hinano.jpg", :class => 'img-landscape') %>
	</div>
	<div class="text-center">
			<h1> Ia ora'ana ti Popa !</h1>
			<h3>L'une des meilleures bières de toute ma vie, je l'ai bu ici !</h3>
	</div>
	<div class= "join">
		<a class="button" href="#register">Nous rejoindre</a>
	</div>
</div>