<div class="tab-container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">Tab One</li>
		<li class="tab-link" data-tab="tab-2">Tab Two</li>
		<li class="tab-link" data-tab="tab-3">Tab Three</li>
	</ul>

	<div id="tab-1" class="tab-content current">
		<strong>Poisson cru au lait de coco : </strong> <br>
			  Thon rouge accompagnée d'une salade de légumes fraichement cueillis (tomates, concombres, carottes, oignons/oignons vert) au lait de coco et citron.
	</div>
	<div id="tab-2" class="tab-content">
		 <strong>Sashimi au fafaru : </strong> <br> 
			  Sashimi de thon sur lit de fafaru. Le fafaru est le jus de poisson décomposé et macéré dans l'eau de mer pendant 1 mois. C'est très fort : mais on ne risque vraiment rien.
	</div>
	<div id="tab-3" class="tab-content">
		<strong>Poulet fafa </strong> <br>
			  Poulet mijoté dans une sauce de crème de coco et tiges de taro (fafa). Cela ressemble un peu les épinards à la crème des Popa’a.
	</div>

</div><!-- container -->