ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
/*	color: #222;*/
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #72CCC2;
/*	color: #222;*/
}

.tab-content{
	display: none;
	background: #72CCC2;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}